body{
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.todos{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.todo-block{
  width: 250px;
  background-color: red;
}

.tarefa{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}